body
{
    padding: 0;
    margin: 0;
    background: white;
    font-family: 'Red Rose', cursive;
}

#title {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    color: white;
    font-size: 2em;
    background: black;
    text-align: center;
}

#rgb_bar {
    padding: 0;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#radian_bar {
    padding: 0;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h3 {
    margin: 0;
    padding: 0;
}
#contrast_bar {
    padding: 0;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
hr {
    height: 5px;
    background: linear-gradient(45deg, transparent, red, blue, yellow, green, transparent);
}

svg {
    width: 100%;
    position: absolute;
}
.thin {
    fill: #9D4853;
    color: white;
    font-weight: 100;
    animation: myanimation1 20s;
    text-shadow: 0 0 5px orange;
    text-align: center;
}
.screen {
    align-content: center;
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* static image from folder.... load bad */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
}
canvas {
    background: transparent;
    height: 300px;
    width: 300px;
}
h1 {
    width: 100%;
    text-align:center;
}
.normal {
    fill: yellow;
    font-weight: 400;
    animation: myanimation2 6s;
    text-shadow: 0 0 6px green;
    }

.thick {
    fill: blue;
    font-weight: 800;
    animation: myanimation3 6s;
    text-shadow: 0 0 8px purple;
}

/*--- FOOTER NAV == HOME NAV/FOOTER ---*/
#hero_image {
  height: 50px;
  width: 60px;
}
footer {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    width: 100vw;
    bottom: 0px;
    color: inherit;
    border-top: 4px double #997555;
    background: linear-gradient(45deg, transparent, #f0ecef, transparent);
}

/* --- MOBILE -- */
@keyframes myanimation1 {
    0% {
        opacity: 0.5;
        text-shadow: 0 0 20px orange;
    }

    50% {
        opacity: 0.5;
        fill: yellow;
        color: aliceblue;
        text-shadow: 0 0 18px lime;
    }

    75% {
        fill: cornflowerblue;
        /*purple: #9E4FCA*/
        text-shadow: 0 0 20px #9E4FCA;
        opacity: 1;
        color: silver;
    }

    100% {
        fill: #D918A4;
        text-shadow: 0px 0px 15px orange;
        color: aliceblue;
    }


}

/* MOBILE */
@media all and (max-width: 799px) and (min-width: 220px) {
  #title {
    font-size: 1em;
  }
}
