
/* Styles adopted from noodle_nav */
/* nav colors can be set by page template css  */
/* hero image hieght = 50px; */
nav {
    display: flex;
    flex-direction: row;
    background: inherit;
    height: 100px;
    border-bottom: 2px solid #997555;
    color: #f7e5eb;
    padding-bottom: 2vh;
}

/* a : hover can be set by page template css  */

.ham_home_link {
    align-content: flex-start;
    padding: 10px;
    border: none;
    padding-right: 0;

}

    .ham_home_link:hover {
        animation-name: background-color;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
    }

@keyframes background-color {
    0% {
        border-radius: 10%;
    }

    100% {
        transform: scale(1.1);
        border-radius: 18%;
    }
}

.flex-center {
  display: flex;
  justify-content: center;
}
.nav-div-links {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  align-content: center;
}

.nav_link_menu {
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;

}

.ham_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #f7e5eb;
    height: 10ch;
    background:#f7f5f7;
}

    .ham_nav a {
        text-decoration: none;
        font-weight: bold;
        width: auto;
        height: 100%;
        color: black;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

#CC_link i {
      color: #997555;
      padding: 10px;
}
#ASL_link i {
  color: #997555;
  padding: 10px;
}
#SS_link i {
  color: #997555;
  padding: 10px;
}

.Content_view {
    color: white;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#hamburger {
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid 1px silver;
    border-radius: 10%;
    margin: 20px;
    color: black;
}


/* MOBILE */
@media all and (max-width: 799px) and (min-width: 220px) {
    .nav-div-links {
      flex-direction: column;
    }
    .flex-center {
      flex-direction: column;
    }
    .ham_nav a {
      padding: 0;
    }
}
