body {
    margin: 0;
    padding: 0;
    background: #fdfaf9;
    color: black;
}
#main_header {

  background: inherit;
  color: white;
  width: 100%;
  text-align: center;
  background: black;
}
h1, h2, h3, h4 {
  width: 100vw;
  text-align: center;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    width: 100vw;
    bottom: 0px;
    color: inherit;
    border-top: 4px double #997555;
    background: linear-gradient(45deg, transparent, #f0ecef, transparent);
}
p {
   font-size: 1em;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
}
.image-and-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#forest_trees{
  float: left;
  height: 300px;

  object-fit: contain;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

}

main{
  position: relative;
  z-index: 3;

}

.fade-in {
animation: fadeIn ease 10s;
-webkit-animation: fadeIn ease 10s;
-moz-animation: fadeIn ease 10s;
-o-animation: fadeIn ease 10s;
-ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

#hero_image {
    width: 5vw;
    height: 10vh;
}

/* light back: #ecf1f1*/
/* dark back: #25262d*/

/* --------  MOBILE -----------*/

@media all and (max-width: 799px) and (min-width: 220px) {

  .links{
     flex-direction: column;
     /*height: 70%;*/
     width: auto;

 }
 #forest_trees {
   height: 200px;
   width: auto;
   margin-right: 2ch;
   margin-left: 1ch;

 }
 .image-and-text {
   padding: 2ch;
   font-size: 0.8em;
   flex-direction: row;
 }

}
