/* css file for rgb test */
/* chingu V22 test item */
label {
  width: 100vw;
  align-items: center;
  text-align: center;
}

#red {
   -webkit-appearance: none;
   border: 1px solid red;
   background: linear-gradient(45deg, #504747, #f1e1e1fa);
}
#green {
   -webkit-appearance: none;
   border: 1px solid green;
   background: linear-gradient(45deg, #556353, #e0f7defa);

}
#blue {
   -webkit-appearance: none;
   border: 1px solid blue;
   background: linear-gradient(45deg, #525873, #e5e4f7fc);

}
body {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0;
padding: 0;
background: white;
color: black;
}
main{
padding: 2vw;
border: 2px solid grey;
background: black;
color: white;
width: 100vw;
}

footer{
border-top: 4px double silver;
height: 2vh;
}


.full-center {
width: 100vw;
text-align: center;
}

p {
background: white;
color: black;
font-family: monospace;
text-align: center;
}

.grow {

}

.control-box {
border: 2px solid silver;
width: 100vw;
font-weight: 700;
background: transparent;
}
.slider-box {
  display: flex;
  flex-direction: column;
}
.label-box {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.toggle-box {
  display: flex;
  width: 20vw;
  align-self: center;
  background-color: silver;
  border: 2px solid white;
  justify-content: space-between;
  align-items: center;

}

#back_label{
  margin-right: 10%;
}
input[type="checkbox"]::after {
  display: none;
}

.radio {

  margin-left: 90%;
  height: 20px;


}


.radio:checked {
  margin-left: 10%;
  padding: 0;
  content: "";
  background-color: blue;

  margin-left: 0;
}

#rgb_header{
background: rgb(255, 255, 255);
color: rgb(0, 0, 0);
width: 100vw;
padding: 3ch;
text-align: center;
}
.center {
  margin-left: 39%;
  text-align: center;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
